.main-header {
  max-height: 99px;
}

@media (max-width: $tablet-width) {
  .main-header {
    height: 50px;
  }  
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
}

@media (max-width: $tablet-width) {
  .main-header__wrapper {
    margin-top: 0;
    height: 50px;
  }
}

@media (max-width: $tablet-width) {
  .main-header__img {
    width: 45px;
    height: 17px;
  }
}

@media (max-width: $tablet-width) {
  .main-header__logo {
    display: flex;
    align-items: center;
  }
}

.main-header__right-block {
  display: flex;
}

@media (max-width: $tablet-width) {
  .main-header__nav--open {
    position: absolute;
    display: block;
    width: 320px;
    top: 0;
    left: 427px;
    background-color: $white;
    box-sizing: border-box;
  }

  .main-header__right-block .main-header__burger {
    display: none;
  }
}

.main-header__list {
  display: flex;
  margin: 0;
  margin-top: 4px;
  margin-right: 53px;
  padding: 0;
  list-style: none;
}

@media (max-width: $tablet-width) {
  .main-header__nav--open .main-header__list {
    display: grid;
    grid-gap: 30px;
    padding-top: 82px;
  }
}

.main-header__item {
  margin-right: 40px;
}

@media (max-width: $tablet-width) {
  .main-header__nav--open .main-header__item {
    display: flex;
    align-items: center;
    height: 60px;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 35px;
    background-color: $light-pink;
  }
}

.main-header__item:last-child {
  margin-right: 0;
}

.main-header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: $dark-black;
}

.main-header__link:hover {
  color: $buttons;
}

.main-header__phone {
  position: relative;
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;
  color: $dark-black;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .main-header__phone {
    display: none;
  }
}

.main-header__phone::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 0;
  left: -33px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
}

.main-header__phone:hover::before {
  background-image: url("../img/phone2.svg");
  background-repeat: no-repeat;
}

.main-header__phone:hover {
  color: $buttons;
}

.main-header__burger {
  display: none;
}

.main-header__cross {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-header__cross {
    position: relative;
    display: block;
    background-color: $white;
  }

  .main-header__cross::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: tomato;
  }
}