.main-footer__wrapper {
  display: flex;
}

.main-footer__seciton {
  margin-right: 129px;
}

.main-footer__seciton-contacts {
  margin-right: 94px;
}

.main-footer__section-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  color: $dark-black;
}

.main-footer__section-list {
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 3;
}

.main-footer__section-item {
  margin-right: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: $dark-black-light;
}

.main-footer__section-text {
  width: 320px;
  font-size: 14px;
  font-weight: 24px;
  color: $dark-black-light;
}