.modal {
  display: none;
  width: 728px;
  height: 444px;
}

.modal--success {
  position: relative;
  padding-top: 179px;
  padding-bottom: 179px;
  background-color: $light-pink;
}

.modal--buy {
  position: relative;
  margin-top: 70px;
  background-color: $light-pink;
}

.modal-form__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.modal__form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 42px;
  color: $grey-modal;
}

.modal__login {
  margin-top: 39px;
  margin-left: 66px;
}

.modal__login input {
  margin-bottom: 20px;
}

.modal__login input:last-child {
  margin-bottom: 0;
}
    

.modal__text {
  width: 399px;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 500;
  line-height: 170%;
  text-align: center;
  color: $grey-modal;
}

.modal__btn--success {
  position: absolute;
  top: 0;
  right: 0;
}

.modal__btn--submit {
  width: 176px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 14px;
  border: none;
}

