.page-main__promo {
  margin-top: 38px;
}

.page-main__places-cards {
  margin-top: 199px;
}

.page-main__prices {
  margin-top: 240px;
}

.page-main__feedback {
  margin-top: 138px;
}

.page-main__footer {
  margin-top: 170px;
}