.prices__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: $tablet-width) {
  .prices__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.prices__text-col {
  margin-top: 77px;
}

.prices__list-col {
  flex-grow: 1;
  width: 770px;
}

.prices__title {
  position: relative;
  margin: 0;
  font-size: 55px;
  font-weight: 600;
  line-height: 90px;
  color: $darker-black;
}

.prices__title::before {
  position: absolute;
  content: "";
  top: 96px;
  left: 0;
  width: 172px;
  height: 2.92px;
  background-color: $buttons;
}

.prices__text {
  width: 309px;
  margin-top: 53px;
  font-size: 16px;
  line-height: 27px;
  color: $dark-grey;
}

.prices__slogan {
  display: inline-block;
  margin-top: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  color: $dark-black;
}

.prices__phone {
  position: relative;
  margin-top: 13px;
  font-size: 20px;
  line-height: 32px;
  color: $black;
}

.prices__phone::before {
  position: absolute;
  content: "";
  top: 0;
  left: -34px;
  width: 30px;
  height: 30px;
  background-image: url("../img/phone2.svg");
  background-repeat: no-repeat;
}

.prices__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.prices__item {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;  
  border: 3px solid $light-grey;

  &:hover {
    border: 3px solid $buttons;
  }
}

.prices__item:first-child {
  margin-right: 30px;
}

.prices__item:last-child {
  margin-right: 111px;
}

.prices__item > ul {
  margin-top: 59px;
  list-style: none;
}

.prices__item ul li {
  position: relative;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 30px;
  color: $darker-black;
}

.prices__item ul li::before {
  position: absolute;
  content: "";
  top: 14px;
  left: -42px;
  width: 22px;
  height: 22px;
  background-image: url("../img/tick2.svg");
  background-repeat: no-repeat;
}

.prices__item ul li:hover::before {
  width: 22px;
  height: 22px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

.prices__item-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  color: $dark-black-mix;

  &:hover {
    color: $buttons;
  }
}

.prices__item-text {
  width: 284px;
  margin-top: 40px;
}

.prices__btn {
  width: 280px;
  margin-top: 54px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  text-transform: uppercase;
}

.prices__item:first-child .prices__btn {
  margin-top: 40px;
}